* {
  box-sizing: border-box;
}

body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.wrapper {
  max-width: 700px;
  margin: 50px auto;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

form.main-form {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

input.input-todo {
  width: 93%;
  padding: 10px;
  border: lightgray 1px solid;
  outline: none;
}

.btn-add-todo {
  border: #c48ff6 solid;
  background-color: #c48ff6;
  color: white;
  font-weight: 800;
  font-size: 20px;
  padding: 0 10px;
  flex-grow: 1;
}

.list-todo {
  list-style: none;
  padding: 0;
}

.list-todo > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  margin-bottom: 15px;
  padding-left: 10px;
  font-weight: 600;
  min-height: 35px;
  transition: all 0.2s;
  cursor: pointer;
}

.list-todo > li > button {
  padding: 10px 12px;
  background-color: red;
  border: red solid;
  color: white;
  display: none;
  transition: all 0.25s;
}

.list-todo > li:hover > button {
  display: block;
  transition: all 0.25s;
}

.pending-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.pending-task .btn-clear-all {
  border: #c48ff6 solid;
  background-color: #c48ff6;
  color: white;
  font-weight: 800;
  padding: 5px;
}

.completed {
  text-decoration: line-through;
}
